@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.cards-c{
    display: flex;
    flex-direction: row;
}
.type-card-c{
    display: flex;
    justify-content: center;
}
[class^="card-elm-"]{
    margin: 6rem 1rem 0;
    width: 8rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}
.img-t{
    width: 5rem;
    height: 3.5rem;
    margin: 1rem 0;
}
.img-tel{
    margin: 1.5rem 0 0;
    width: 2rem;
    height: 3.5rem;
}
.item-txt{
    font-weight: bold;
    font-family: "IBM Plex Sans","Poppins","Montserrat", sans-serif;
}
.card-elm-1{
    background-color: #c3edff;
}
.card-elm-2{
    background-color: #ffc3c3;
}
.card-elm-3{
    background-color: #c3ffc5;
}
.card-elm-4{
    background-color: #fffca3;
}
.card-elm-5{
    background-color: #ffeac3;
}
.card-elm-6{
    background-color: #c3d1ff;
}
.card-elm-7{
    background-color: #e3c3ff;
}